version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "4000:4000"
    env_file:
      - .env         # ⬅️ Reads root-level .env
    environment:
      - PORT=4000
    networks:
      - mern

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "5173:80"
    env_file:
      - .env
    networks:
      - mern

  dashboard:
    build: ./dashboard
    container_name: dashboard
    restart: always
    ports:
      - "5174:80"
    env_file:
      - .env
    networks:
      - mern

networks:
  mern:
    driver: bridge
