services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: backend
    restart: unless-stopped
    env_file: .env
    ports:
      - "4000:4000"
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: frontend
    restart: unless-stopped
    env_file:
      - frontend/.env # optional if you have frontend env vars
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mongo-data:
